<div><br>
Privacy Policy<br>
This Privacy Policy (the "Policy") explains the way of treatment of the information which is<br>
provided or collected in the websites on which this Policy is posted. In addition the Policy also<br>
explains the information which is provided or collected in the course of using the applications<br>
of the Company which exist in the websites or platforms of other company.<br>
Through this Policy, the Company regards personal information of the users as important and<br>
inform them of the purpose and method of Company's using the personal information<br>
provided by the users and the measures taken by the Company for protection of those personal<br>
information.<br>
This Policy will be effective on the ___th day of ____, 2015 and, in case of modification thereof,<br>
the Company will make public notice of it through posting it on the bulletin board of<br>
Company's website or individual notice through sending mails, fax or e-mails).<br>
1. Information to be collected and method of collection<br>
(1) Personal information items to be collected<br>
Personal information items to be collected by the Company are as follows:<br>
• Information provided by the users<br>
The Company may collect the information directly provided by the users.<br>
[Option to select 'personal information items' in Appendix &lt;1-1&gt; of Personal Privacy Policy]<br>
• Information collected while the users use services<br>
Besides of information directly provided by the users, the Company may collect information in<br>
the course that the users use the service provided by the Company.<br>
3<br>
[Option to select 'personal information items' in Appendix &lt;1-2&gt; of Personal Privacy Policy]<br>
(2) Method of collection<br>
The Company collects the information of users in a way of the followings:<br>
[Option to select 'method of collection' in Appendix &lt;2&gt;of Personal Privacy Policy]<br>
2. Use of collected information<br>
The Company uses the collected information of users for the following purposes:<br>
[Option to select 'use of collected information' in Appendix &lt;3&gt;of Personal Privacy Policy]<br>
The Company agrees that it will obtain consent from the users, if the Company desires to use<br>
the information other than those expressly stated in this Policy.<br>
3. Sharing collected information<br>
Except for the following cases, the Company will not share personal information with a 3rd<br>
party:<br>
• when the Company shares the information with its affiliates, partners and service providers;<br>
[Option to select 'sharing of collected information' in Appendix &lt;4-1&gt;of Personal Privacy Policy]<br>
• when the users consent the sharing in advance;<br>
[Option to select 'sharing of collected information' in Appendix &lt;4-2&gt;of Personal Privacy Policy]<br>
• when the sharing is required by the laws<br>
- if required to be disclosed by the laws and regulations; or<br>
4<br>
- if required to be disclosed by the investigative agencies for detecting crimes in<br>
accordance with the procedure and method as prescribed in the laws and regulations<br>
4. Cookies, Beacons and Similar Technologies<br>
The Company may collect collective and impersonal information through 'cookies' or 'web<br>
beacons'.<br>
Cookies are very small text files to be sent to the browser of the users by the server used for<br>
operation of the websites of the Company and will be stored in hard-disks of the users'<br>
computer.<br>
Web beacon is a small quantity of code which exists on the websites and e-mails. By using web<br>
beacons, we may know whether a user has interacted with certain webs or the contents of<br>
email.<br>
These functions are used for evaluating, improving services and setting-up users' experiences so<br>
that much improved services can be provided by the Company to the users<br>
The items of cookies to be collected by the Company and the purpose of such collection are as<br>
follows:<br>
[Option to select 'collecting cookies' in Appendix &lt;5&gt;of Personal Privacy Policy]<br>
The users have an option for cookie installation. So, they may either allow all cookies by setting<br>
option in web browser, make each cookie checked whenever it is saved, or refuses all cookies to<br>
be saved: Provided that, if the user rejects the installation of cookies, it may be difficult for that<br>
user to use the parts of services provided by the Company.<br>
5. Users' right to access and option<br>
5<br>
The users or their legal representatives, as main agents of the information, may exercise the<br>
following options regarding the collection, use and sharing of personal information by the<br>
Company:<br>
• exercise right to access to personal information;<br>
• make corrections or deletion;<br>
• make temporary suspension of treatment of personal information; or<br>
• request the withdrawal of their consent provided before<br>
If, in order to exercise the above options, you, as an user, use the menu of 'amendment of<br>
member information of webpage or contact the Company by using representative telephone or<br>
sending a document or e-mails, or using telephone to the responsible department (or person in<br>
charge of management of personal information), the Company will take measures without<br>
delay: Provided that the Company may reject the request of you only to the extent that there<br>
exists either proper cause as prescribed in the laws or equivalent cause.<br>
6. Security<br>
The Company regards the security of personal information of uses as very important. The<br>
company constructs the following security measures to protect the users' personal information<br>
from any unauthorized access, release, use or modification<br>
[Option to select 'security measures' in Appendix &lt;6&gt;of Personal Privacy Policy]<br>
7. Protection of personal information of children<br>
In principle, the Company does not collect any information from the children under 13 or<br>
equivalent minimum age as prescribed in the laws in relevant jurisdiction. The website, products<br>
and services of the Company are the ones to be provided to ordinary people, in principle. The<br>
website or application of the Company has function to do age limit so that children cannot use<br>
it and the Company does not intentionally collect any personal information from children<br>
through that function.<br>
6<br>
(Additional procedure for collecting personal information from children) However, if the<br>
Company collects any personal information from children under 13 or equivalent minimum age<br>
as prescribed in the laws in relevant jurisdiction for the services for unavoidable reason, the<br>
Company will go through the additional procedure of the followings for protecting that<br>
personal information of children:<br>
• obtain consent from the parents or guardian of children so as to collect personal information<br>
of children or directly send the information of products and services of the Company<br>
• give the parents or guardian of children a notice of Company's policy of privacy protection<br>
for children including the items, purpose and sharing of personal information collected<br>
• grant to legal representatives of children a right to access to personal information of that<br>
children/correction or deletion of personal information/temporary suspension of treatment of<br>
personal information/ and request for withdrawal of their consent provided before<br>
• limit the amount of personal information exceeding those necessary for participation in<br>
online activities<br>
8. Modification of Privacy Protection Policy<br>
The Company has the right to amend or modify this Policy from time to time and, in such case,<br>
the Company will make a public notice of it through bulletin board of its website (or through<br>
individual notice such as written document, fax or e-mail) and obtain consent from the users if<br>
required by relevant laws.<br>
9. Others<br>
[Option to select 'data transmission' in Appendix &lt;7&gt; of Personal Privacy Policy]<br>
[Option to select 'sites and service of 3rd party' in Appendix &lt;8&gt; of Personal Privacy Policy]<br>
[Option to select 'guidelines for residents in California' in Appendix &lt;9&gt; of Personal Privacy<br>
Policy]<br>
7<br>
[Option to select 'guidelines for residents in Korea' in Appendix &lt;10&gt; of Personal Privacy Policy]<br>
10. Responsible department of Company<br>
The Company designates the following department and person in charge of personal<br>
information in order to protect personal information of customers and deal with complaints<br>
from customers:<br>
• Department responsible for privacy protection and customer service :<br>
Address : <br>
Tel.: +82) 10-8263-5529 <br>
E-mail: presan100@gmail.com<br>
The latest update date: ______, 2015<br>
</div>