<%- include('./template/defaultHead.ejs') %>
<body>
    <%- include('./template/component/navbar.ejs') %>
    <%= info %>
    <!-- 설정 결과 토스트 -->
    
    <!-- 프로필 사진 설정 -->

    <!-- 헤더 사진 설정 -->
    <form action="/file/upload" method="POST"  enctype="multipart/form-data">
        <input type="file" name="file">
        <button>Action</button>
    </form>
    <!-- 친구 설정 :: 친구 삭제 / 추가 -->

</body>