<%- include('./template/defaultHead.ejs') %>
<body>
    <script>
        function gotoSetting(e){
            location.href="/setting"
        }
    </script>
    <div style="width: 100%;">

        <%- include('./template/component/navbar.ejs') %>
        <div class="header">
            <div class="none-background-header"></div>
        </div>
        <div class="page-bottom-notop">
            <div class="main-desc">
                <div class="desc-page">

                    
                </div>
            </div>
        </div>
    </div>
    <%- include('./template/component/footer.ejs') %>

</body>
